<a href="/">Form</a>
<div id="product-container">
    {{#if products}}
        <table>
            <thead>  
                <td>Title</td>
                <td>Price</td>
                <td>Image</td>
            </thead>
            {{#each products}}
            <tr>
                <td>{{this.title}} </td>
                <td>${{this.price}} </td>
                <td><img src="{{this.thumbnail}}" alt="imagen "+{{this.title}}>  </td>
            </tr>
            {{/each}}
        </table>
    {{else}}
    <h2>No products</h2>
    {{/if}}
</div>